* {
  margin: 0px;
  padding: 0px;
}
.parent{
    display: flex;
    gap: 10px;
}
.wraper{
    flex: 1;
    border: 1px solid black;
    height: 500px;
    margin: 10px 0px;
}

.wraper .card-image{
    width: 100%;
    position: relative;
}

.add-card{
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    position: sticky;
    top: 0px;
    z-index: 20;
}
